<div class="body-2 p-6 bg-primary-600 text-on-primary-600">
  <p>Aujourd'hui</p>
  <div class="display-1">{{ todayFormatted }}</div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 matSubheader>Images pour la boutique</h3>

  <a
    mat-list-item
    href="https://fr.pinterest.com/search/pins/?q=iphone&rs=typed"
    target="_blank"
    rel="noopener noreferrer"
  >
    <h4 matListItemTitle>Téléphones</h4>
    <p matListItemLine>Iphone</p>
  </a>

  <a
  mat-list-item
  href="https://fr.pinterest.com/search/pins/?q=coque%20de%20t%C3%A9l%C3%A9phone&rs=ac&len=5&source_id=ac_oZ0tdBCc&eq=coque&etslf=8520"
  target="_blank"
  rel="noopener noreferrer"
>
  <h4 matListItemTitle>Coques Téléphones</h4>
  <p matListItemLine>Protége</p>
</a>

<a
mat-list-item
href="https://fr.pinterest.com/search/pins/?q=watch&rs=typed"
target="_blank"
rel="noopener noreferrer"
>
<h4 matListItemTitle>Montres</h4>
<p matListItemLine>Montres</p>
</a>

<a
mat-list-item
href="https://fr.pinterest.com/search/pins/?q=accessoires%20de%20t%C3%A9l%C3%A9phone&rs=ac&len=4&source_id=ac_gzGnVWXf&eq=Acce&etslf=3982"
target="_blank"
rel="noopener noreferrer"
>
<h4 matListItemTitle>Accessoires de téléphone</h4>
<p matListItemLine>Accessoires</p>
</a>

</mat-nav-list>